<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- *ngIf="movie.object.type == 'feature'" -->
  <ion-list>
    <div *ngFor="let movie of popularMovies">
      <button ion-item *ngIf="movie.object.type == 'feature'">
        <ion-avatar item-start>
          <img src="{{movie.object.image.url | imagesize: '75'}}">
        </ion-avatar>
        <h2 text-wrap>{{movie.object.title}}</h2>
        <p>
          <span text-wrap *ngFor="let principal of movie.object.principals" >{{principal.name}}, </span>
        </p>
      </button>
    </div>
  </ion-list>
</ion-content>