<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movie Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-item>
      <h1 text-wrap>{{movie.Title}}</h1>
      <p>Release date: {{movie.Released}}</p>
    </ion-item>

    <img src="{{movie.Poster}}" imageViewer>

    <ion-card-content>
      <p>{{movie.Plot}}</p>
    </ion-card-content>

    <ion-item *ngIf="movie.Director">
      <ion-icon name="videocam" item-left large></ion-icon>
      <h2>Director(s)</h2>
      <p text-wrap>
        <span >{{movie.Director}}</span>
      </p>
    </ion-item>

    <ion-item *ngIf="movie.Writer">
      <ion-icon name="videocam" item-left large></ion-icon>
      <h2>Writer(s)</h2>
      <p text-wrap>
        <span>{{movie.Writer}}</span>
      </p>
    </ion-item>

    <ion-item>
        <ion-icon name="film" item-left large></ion-icon>
        <h2>Genres</h2>
        <p text-wrap>
          <span>{{movie.Genre}}</span>
        </p>
    </ion-item>

    <ion-item *ngIf="userProvider.isLoggedInBool">
      <button ion-button full (click)="addToFavourites(movie.imdbID)"><ion-icon name="bookmark"></ion-icon>&nbsp; Add to Favourites</button>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="star"></ion-icon>
          <span *ngFor="let r of movie.Ratings; let i = index;"><div *ngIf="i==0">{{r.Value}} <div *ngIf="r.Source == 'Rotten Tomatoes'">(RT)</div> </div></span>
        </button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button icon-left clear small>
          <ion-icon name="time"></ion-icon>
          <div>runtime: {{movie.Runtime}}</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
